
$orange: #DF4A3F;
$blue: #001F37;
$cream: #FFF0D4;
$brand-primary: $orange;
$panel-default-heading-bg: $orange;
$nav-pills-active-link-hover-bg: $orange;

$border-radius-base: 7px;

@import "bourbon";

@import 'bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap';

@import  "layout/_header";
@import  "layout/_sidebar";
@import  "layout/_footer";
@import  "layout/_player";
@import  "layout/_nav";
@import  "layout/_selectors";
@import  "layout/_bootstrap_overrides";
@import  "layout/_player";
@import  "layout/_show_colors";
@import  "layout/_modal";
@import  "sections/home";
@import  "sections/schedule";
@import  "sections/_shows";
@import  "sections/_show_modal";
@import  "sections/_faq";
@import  "sections/_advertising";
@import  "sections/_news";
@import  "sections/_people";
@import  "sections/_contact";
@import "sections/_events";
@import "sections/_about";
@import "sections/_socials";
