<div id='contact'>
	{{page-header text='Contact'}}
<h2>CKDU Staff</h2>
<div id='contact__staff'>
<div class='row'>
<div class='col-sm-4'>
<div class='panel panel-default'>
<div class='panel-heading'>
<h3 class='panel-title'>Gianna Lauren</h3>
</div>
<div class='panel-body'>
<ul class='list list-unstyled'>
<li>
<strong>Station Coordinator</strong>
</li>
<li>gianna (at) ckdu (dot) ca</li>
<li>Please contact re: advertising</li>
<li><a href="tel:902.494.6479">902.494.6479</a></li>
</ul>
</div>
</div>
</div>
<div class='col-sm-4'>
<div class='panel panel-default'>
<div class='panel-heading'>
<h3 class='panel-title'>Laura Peek</h3>
</div>
<div class='panel-body'>
<ul class='list-unstyled'>
<li>
<strong>Program Director</strong>
</li>
<li>laura (at) ckdu (dot) ca</li>
<li><a href="tel:902.494.6479">902.494.6479</a></li>
</ul>
</div>
</div>
</div>
<div class='col-sm-4'>
<div class='panel panel-default'>
<div class='panel-heading'>
<h3 class='panel-title'>Darryl Smith</h3>
</div>
<div class='panel-body'>
<ul class='list list-unstyled'>
<li>
<strong>Music Director</strong>
</li>
<li>darryl (at) ckdu (dot) ca</li>
<li><a href="tel:902.494.6479">902.494.6479</a></li>
</ul>
</div>
</div>
</div>
</div>
<div class='row'>
<div class='col-sm-4'>
<div class='panel panel-default'>
<div class='panel-heading'>
<h3 class='panel-title'>Adam Kelly</h3>
</div>
<div class='panel-body'>
<ul class='list list-unstyled'>
<li>
<strong>Broadcast Technician</strong>
</li>
<li>adam (at) ckdu (dot) ca</li>
<li><a href="tel:902.494.6479">902.494.6479</a></li>
</ul>
</div>
</div>
</div>
<div class='col-sm-4'>
<div class='panel panel-default'>
<div class='panel-heading'>
<h3 class='panel-title'>Board of Directors</h3>
</div>
<div class='panel-body'>
<ul class='list list-unstyled'>
<li>board (at) ckdu (dot)  ca</li>
<li><a href="tel:902.494.6479">902.494.6479</a></li>
</ul>
</div>
</div>
</div>
</div>
</div>
<h2>Send An Email To CKDU</h2>
<div class='row'>
<div class='col-sm-4'>
<h3>Feedback, General Information, Training</h3>
<p>Do you have feedback, a request for some general information or are you looking for information on training? If so, send us a note at <a href="mailto:info@ckdu.ca">info@ckdu.ca</a>. If you are hoping to get in touch with a specific staff person, please use the email addresses found above.</p>
</div>
<div class='col-sm-4'>
<h3>Public service announcements</h3>
<p>Public service announcements may be sent to <a href="mailto:psa@ckdu.ca">psa@ckdu.ca</a>. You may also consider calling our feedback line at <a href="tel:902-494-8041">902-494-8041</a> 	and leaving an audio recording of your PSA. It will make it to air sooner this way! Please use a landline instead of a cellphone for quality purposes, and try to keep the length between 30 and 45 seconds. Be sure to include details such as who, what, where, when, and how much.</p>
</div>
<div class='col-sm-4'>
<h3>Press Release, News Story</h3>
<p>If you want to send a press release or information on a possible news story, please send it to <a href="mailto:info@ckdu.ca">info@ckdu.ca</a>.</p>
</div>
</div>
<h2>Office Hours</h2>
<p>Staff hours are weekdays from 12pm - 5pm, or by appointment. Call <a href="tel:494-6479">494-6479</a> or email <a href="mailto:info@ckdu.ca">info@ckdu.ca</a> to make an office appointment outside of those regular office hours.</p>
<P>Music tracking can be done via email by contacting Darryl Smith (email address above). Please include the word 'tracking' in the subject of your email. Phone tracking hours are Wednesdays, noon to 4:00 pm.</P>
<p>All times are Atlantic Standard Time.</p>
</div>

{{outlet}}
