<li>
	{{#link-to 'index'}}Home{{/link-to}}
</li>

<li class="schedule-link">
	{{#link-to 'schedule'}}Schedule{{/link-to}}
</li>

<li>
	{{#link-to 'shows'}}Shows{{/link-to}}
</li>

<li>
	{{#link-to 'about'}}About{{/link-to}}
</li>

<li>
	{{#link-to 'contact'}}Contact{{/link-to}}
</li>

<li>
	{{#link-to 'events'}}Events{{/link-to}}
</li>

