<h2 class="about-heading">Advertising With CKDU</h2>

<p>Do you want to promote your business, service or event to an audience that isn't catered to on other Halifax radio stations? CKDU's wide range of programming - news and information, current affairs, arts & entertainment, music, and much more - makes the station a great forum to get your voice heard.</p>
<p>If you are interested in advertising on CKDU or would like some more information on our rates, please contact CKDU's station coordinator at 902-494-6479.</p>
<h2>Award-Winning Radio</h2>
<p>CKDU-FM has won a number of awards over the years for several projects and productions. Starting with the most recent these include:</p>

<dl class='dl-horizontal awards'>
<dt>2007</dt>
<dd>Best Local Radio Station as voted for by the readers of The Coast for their annual Best of Music issue. Five times! Woo!</dd>
<dt>2006</dt>
<dd>Best Local Radio Station as voted for by the readers of The Coast for their annual Best of Music issue. That makes four in a row for the station!</dd>
<dt>2005</dt>
<dd>Best Local Radio Station as voted for by the readers of The Coast for their annual Best of Music issue. Three-time reigning champions, crushing the competition year after year! Woo!</dd>
<dt>2004</dt>
<dd>Best Local Radio Station as voted for by the readers of The Coast for their annual Best of Music issue. Two-time reigning champions. Woo!</dd>
<dt>2004</dt>
<dd>Best Local radio DJ in the Coast's Best of Music poll: Aaron Petrie. Also for the second year in a row!</dd>
<dt>2004</dt>
<dd>Skratch Bastid also one for Best Local DJ (not radio... turntablist) in The Best of Music. Skratch hosts The Treatment on CKDU every Monday afternoon from 3pm - 5pm.</dd>
<dt>2004</dt>
<dd>C-Level Society of the Year, from the Dalhousie Student Union Association.</dd>
<dt>2003</dt>
<dd>Standard Broadcast Radio ward for broadcasting excellence. This was for a focus day on food issues, organized by Stacey Willick.</dd>
<dt>2003</dt>
<dd>Best Local Radio Station. Voted by the reader's of The Coast magazine. They also liked...</dd>
<dt>2003</dt>
<dd>Best Local radio DJ: Aaron Petrie. Aaron hosts The Cosmic Haligonian Music show Thurs. 3:30 - 5 p.m. In addition to that, the runner up was Doug Taylor, host of Elegant Voltage Tues. 9 - 10:30 a.m</dd>
<dt>2001</dt>
<dd>Programmer Bev Lamb, host of Touchstone: Saturday 10 a.m to noon, was given an award by the Helen Creighton Folklore Society for his 15 years of dedication to providing an excellent radio show on folk music.</dd>
<dt>2001</dt>
<dd>Standard Radio Inc./NCRA Award for Programming Excellence for the broadcast of Eritrea:A Victim. This was prepared by Naz Yemani, host of Radio Eritrea, Sun. 7:30 to 9 pm.</dd>
<dt>2000</dt>
<dd>Standard Radio Inc./NCRA Award for promoting local talent. This award is for a local talent competition, a series of live broadcasts and a CD called It Came From Halifax Harbour, which CKDU-FM produced, aired and distributed across the country to promote local musicians.</dd>
<dt>2002</dt>
<dd>Standard Broadcast Award for Excellence in Community Programming won by The Youth Entrepreneurship Show hosted by Yung Wun (Weds. 6 p.m.). This show examined all aspects affecting and affected by young entrepreneurs.</dd>
<dt>1999</dt>
<dd>Standard Radio Inc./NCRA Award in the area of Community Involvement for the day of broadcasting Through Arab Eyes. This was coordinated by our three Arabic shows, their hosts, friends and guests.</dd>
<dt>1998</dt>
<dd>Canadian Music Industry Award for Campus Station of the Year.</dd>
<dt>1997</dt>
<dd>Canadian Music Industry Award for Campus Station of the Year.</dd>
<dt>1995</dt>
<dd>Standard Radio Inc./NCRA Award for Programming/National Initiative. This was for coordinating the nationwide day of programming Sex-FM, broadcast to protest the CRTC conditional licence for CKDU-FM and promote thought about issues of censorship. 21 NCRA stations participated.</dd>
</dl>

{{outlet}}
