<div class="media">
	<div class="pull-left">
		<img src="{{item.image_medium}}" class="img-thumbnail img-responsive media-object" alt=""/>
	</div>
	<div class="media-body">
		<h3 class="media-heading">{{item.title}}</h3>
		{{{item.item_content}}}
	</div>
</div>
