<div id='very-bottom'>
  <div class='row'>
    <div class='col-sm-3'>
      <ul class='list-unstyled legals'>
        <li>{{#link-to 'privacy'}}Privacy{{/link-to}}</li>
        <li>{{#link-to 'disclaimer'}}Disclaimer{{/link-to}}</li>
        <li><a target="_blank" href="http://staging.ckdu.ca/admin">Admin</a></li>
      </ul>
    </div>
    <div class='col-sm-7'>&copy; 2015 CKDU 88.1 FM</div>
    <div class='col-sm-2'>
      <a target="_blank" class="credit" href="http://www.isnorcreative.com">Site by Isnor Creative</a>
    </div>
  </div>
</div>