<h2 class="about-heading">Frequently Asked Questions</h2>
<br/>

<div class='panel-group' data-no-transition-cache id='accordion'>
  <div class='panel panel-default'>
    <div class='panel-heading'>
      <h4 class='panel-title'>
        <a data-parent='#accordion' data-toggle='collapse' href='#collapse0'>What is CKDU's mandate?</a>
      </h4>
    </div>
    <div class='panel-collapse collapse' id='collapse0'>
      <div class='panel-body'>CKDU is mandated to act as an alternative to public (CBC) and commercial radio stations. We offer programming that can not be found elsewhere on the airwaves in Halifax.</div>
    </div>
  </div>
  <div class='panel panel-default'>
    <div class='panel-heading'>
      <h4 class='panel-title'>
        <a data-parent='#accordion' data-toggle='collapse' href='#collapse1'>Why don't you play Top 40 music?</a>
      </h4>
    </div>
    <div class='panel-collapse collapse' id='collapse1'>
      <div class='panel-body'>Our mandate is to offer programming that is an alternative to commercial radio stations: that means we don't play commercial music. In addition to our in-house policies and philosophies regarding this, it's also in our license that we can't play selections that have charted on the Billboard Hot 100 chart, along with various others.</div>
    </div>
  </div>
  <div class='panel panel-default'>
    <div class='panel-heading'>
      <h4 class='panel-title'>
        <a data-parent='#accordion' data-toggle='collapse' href='#collapse2'>How can I get a show on CKDU?</a>
      </h4>
    </div>
    <div class='panel-collapse collapse' id='collapse2'>
      <div class='panel-body'>Stop by the station for an orientation session and get the scoop on our training sessions... and find out more about that in our Volunteering section.</div>
    </div>
  </div>
  <div class='panel panel-default'>
    <div class='panel-heading'>
      <h4 class='panel-title'>
        <a data-parent='#accordion' data-toggle='collapse' href='#collapse3'>Can I listen to the station online?</a>
      </h4>
    </div>
    <div class='panel-collapse collapse' id='collapse3'>
      <div class='panel-body'>We broadcast in MP3 at two bit rates Hi-Fi (suitable for very fast connections) and Lo-fi (suitable for most modems and other slower connections). Most browsers should respond with Winamp or another suitable player to either of the two links below.
        hi-fi or high speed - 128 kbps
        or
        “lower-fi” or lower speed - 32 kbps
        If the above links don't work for you, try telling your player to play from one of these addresses: http://ckdu.dal.ca/ckdu-hi.pls (for hi-fi, 128 kbps) OR http://ckdu.dal.ca/ckdu-lo.pls (for lo-fi, 32 kbps) by starting the player and typing or pasting the relevant url into its play from option.
        E-mail any questions or comments to adam@ckdu.ca.
      </div>
    </div>
  </div>
  <div class='panel panel-default'>
    <div class='panel-heading'>
      <h4 class='panel-title'>
        <a data-parent='#accordion' data-toggle='collapse' href='#collapse4'>How do I get Public Service Announcements on the air?</a>
      </h4>
    </div>
    <div class='panel-collapse collapse' id='collapse4'>
      <div class='panel-body'>Check out our Promotions page for information on Community Services!</div>
    </div>
  </div>
  <div class='panel panel-default'>
    <div class='panel-heading'>
      <h4 class='panel-title'>
        <a data-parent='#accordion' data-toggle='collapse' href='#collapse5'>I'm in a band... who do I send my music to, and how &amp; when can I track if you're playing my music?</a>
      </h4>
    </div>
    <div class='panel-collapse collapse' id='collapse5'>
      <div class='panel-body'>Send your music attention to our Music Director, Darryl Smith. Make sure to include any biographical information that you think is necessary, and any tour dates in the area if you are heading this way. Music tracking can be done via email by contacting darryl@ckdu.ca. Please include the word 'tracking' in the subject of your email. Tracking emails will be replied to on Wednesdays.</div>
    </div>
  </div>
  <div class='panel panel-default'>
    <div class='panel-heading'>
      <h4 class='panel-title'>
        <a data-parent='#accordion' data-toggle='collapse' href='#collapse6'>What are some tips and points for getting my record added?</a>
      </h4>
    </div>
    <div class='panel-collapse collapse' id='collapse6'>
      <div class='panel-body'>Address all submissions to:
        ATTN: Darryl Smith, Music Director
        CKDU - FM
        Dalhousie Student Union Building
        6136 University Ave
        Halifax, NS B3H 4J2 
        * Jewel case, its all about the simple jewel case. Band name readable on the spine.
        [if the scissors and glue need to be used, we're not going to be happy]
        * Please include your band/label name in the return address.
        * Singles? Not so good. We don't have the space, either wait till you have an EP or release that baby on vinyl (there's always room for vinyl - its skinnier right?)
        * We don't need glossy photos, 10-page press kits, FiloFolders, videos, DVDs, or copies of your handwritten poems. One sheet and a CD - please don't waste your money on mailing giant packages (though sometimes we do love an especially good glossy pic...open shirts preferred).
        * Stickers? good. Candy? good. Whistles and Frisbees? Not so good.
        * Check http://www.uoguelph.ca/cfru/music.shtml for some good hints and tracking/mailing tips.
      </div>
    </div>
  </div>
  <div class='panel panel-default'>
    <div class='panel-heading'>
      <h4 class='panel-title'>
        <a data-parent='#accordion' data-toggle='collapse' href='#collapse7'>How do I set up an on-air interview or performance for my band?</a>
      </h4>
    </div>
    <div class='panel-collapse collapse' id='collapse7'>
      <div class='panel-body'>Your best bet at getting a CKDU appearance is to have a look through our program guide, and/or listen to the station and find a few programs that are best suited to your style. You can email the hosts directly to ask them as they are ultimately the directors of their own shows. Alternatively, you may drop Darryl a line at darryl@ckdu.ca for assistance.</div>
    </div>
  </div>
  <div class='panel panel-default'>
    <div class='panel-heading'>
      <h4 class='panel-title'>
        <a data-parent='#accordion' data-toggle='collapse' href='#collapse8'>Can I get my upcoming tour dates and show listings on the air?</a>
      </h4>
    </div>
    <div class='panel-collapse collapse' id='collapse8'>
      <div class='panel-body'>Make sure to drop us a line with the information, so that we can add you to our show listings. You can email Darryl at darryl@ckdu.ca. Don't forget to stop by the station to put up a poster.</div>
    </div>
  </div>
  <div class='panel panel-default'>
    <div class='panel-heading'>
      <h4 class='panel-title'>
        <a data-parent='#accordion' data-toggle='collapse' href='#collapse9'>Our band is having a record release party soon. Can CKDU help us out with some promotion?</a>
      </h4>
    </div>
    <div class='panel-collapse collapse' id='collapse9'>
      <div class='panel-body'>Once again, check out the Promotions page!</div>
    </div>
  </div>
  <div class='panel panel-default'>
    <div class='panel-heading'>
      <h4 class='panel-title'>
        <a data-parent='#accordion' data-toggle='collapse' href='#collapse10'>Who do I talk to about advertising on the station?</a>
      </h4>
    </div>
    <div class='panel-collapse collapse' id='collapse10'>
      <div class='panel-body'>
        You'll want to talk to our Station Coordinator, Gianna Lauren, gianna@ckdu.ca. You can also check out our page on Advertising Info, which will eventually include rates and other sales-related information.
        If you love us and you'd like to link to us, please feel free to grab a button from below and get to the linkity linking!
        Button: 152X65
        <P align='center'><a href='http://ckdu.dal.ca'>
          <img src='your_button_name.gif' width=152 height=65 border=0></a>
        </P>
      </div>
    </div>
  </div>
  <div class='panel panel-default'>
    <div class='panel-heading'>
      <h4 class='panel-title'>
        <a data-parent='#accordion' data-toggle='collapse' href='#collapse11'>Who do I send comments or questions about the station to?</a>
      </h4>
    </div>
    <div class='panel-collapse collapse' id='collapse11'>
      <div class='panel-body'>If you have any comments, questions, or any other kind of feedback you would like to see addressed by the staff, a committee or a programmer at the station, just drop us a line at info@ckdu.ca and we'll do our best to get you the information you're looking for as soon as possible.</div>
    </div>
  </div>
</div>

{{outlet}}
