<div class='header'>
  <div class='row'>
    <div class='col-sm-6'>
      <a href="/" title="CKDU 88.1 FM Community Radio Halifax NS" class="ckdu-logo">
      	{{ckdu-logo}}
      </a>
    </div>
    <div class='col-sm-6 right'>
      <div class='logotype tk-futura-pt'>REQUEST LINE <strong>902-494-2487</strong></div>
      <div  class="pull-right">{{social-links}}</div>
    </div>
  </div>
</div><!-- END HEADER -->
