<h2 class="about-heading">Info &amp; Documents For Active Volunteers</h2>

<p>To make it easier for our members to access the various in-house forms and applications, we have electronic copies for download here on the website. Below is a list of the available forms.</p>
<p>These forms are for use by CKDU members only. While they are available to the public, none of the services or opportunities alluded to on the form are available to persons who are not permanent members of the CKDU-FM Society. If you are looking for any of our other applications or information sheets, or if you have any questions about the below forms please call the office at %{phone_link "494.6479"}. An orientation is the first step to becoming a programmer at CKDU. Visit the Station Calendar to find out when the next orientation takes place.</p>
<h3>Program Proposal</h3>
<p>After you have completed all of your training, volunteer hours, had your Demo approved and have completed the subsequent four fill-in shifts, you can fill out an Program Proposal and hand it in to the Program Committee for review. The Program Proposal is necessary for any programmer who would like to have a permanent program time on the CKDU Schedule.</p>
<h3>Pre-Emption Application</h3>
<p>This form is mandatory for any applications for Specialty Programming or Remote Broadcasts that will pre-empt programs that regularly appear on the schedule. The Pre-Emption Application must be submitted to the Programming Committee at least two weeks prior to the proposed pre-emption. Programmers who will be affected by the proposed pre-emption should be contacted by the applicant, and notification of their consent or refusal should be included on the form. The Programming Committee does not seek approval for the applicant, but will confirm approval of the programmers or hear appeals from either party. The Application does not guarantee a pre-emption, but is a necessary step towards any proposed Specialty Programming.</p>
<h3>Remote Broadcast Application</h3>
<p>
If you are looking to do a Remote Broadcast, the above Pre-Emption Application is part of the process along with this Remote Broadcast Application. This form requires a detailed description of your remote broadcast, including time, location and content. This information must be submitted to the Programming Committee at least two weeks prior to the proposed broadcast. Programmers who will be affected by the proposed pre-emption should be contacted by the applicant, and notification of their consent or refusal should be included on the form. The Programming Committee does not seek approval for the applicant, but will confirm approval of the programmers or hear any appeals from either party. You will also be required to log your program content, and may be required to sign a letter of agreement with CKDU. Contact the <a href="mailto:laura@ckdu.ca">Program Director</a> with any questions.
</p>
<h2>The Ckdu Constitution</h2>
<p>The Constitution of the CKDU-FM Society - last updated on March 10, 2005.</p>
<h2>Station Policy / Technical Manual</h2>
<p>Hiring Policy</p>
<p>Music Programming and General Station Rules &amp; Regulations</p>
<p>Spoken Word Programming Rules &amp; Regulations</p>
<p>
The Technical Manual
<br>
The page contains info on how to use CKDUs tech gear. Check it out and become a pro!
</p>

{{outlet}}
