<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 width="348.878px" height="463.209px" viewBox="14.198 9.314 348.878 463.209"
	 enable-background="new 14.198 9.314 348.878 463.209" xml:space="preserve">
<title>phone</title>
<g>
	<g id="_152222920">
		<path class="icon" id="_152222248" d="M130.724,163.26c-63.687,36.769,33.485,218.941,103.176,178.705
			c12.376,21.437,52.239,90.482,64.615,111.918c-29.404,16.977-54.292,27.679-88.382,8.191
			c-94.65-54.107-198.836-234.497-195.872-342.09c1.03-37.371,23.047-52.014,51.847-68.641
			C78.483,72.778,118.347,141.824,130.724,163.26L130.724,163.26z"/>
		<path class="icon" id="_150519168" d="M157.438,160.225c-6.881,3.973-15.736,1.602-19.71-5.28L76.813,49.436
			c-3.974-6.883-1.603-15.737,5.279-19.711l32.016-18.484c6.882-3.974,15.739-1.601,19.712,5.282l60.915,105.508
			c3.973,6.881,1.601,15.736-5.281,19.709L157.438,160.225z"/>
		<path class="icon" id="_226148072" d="M323.854,448.465c-6.882,3.973-15.737,1.602-19.71-5.281l-60.915-105.508
			c-3.974-6.883-1.603-15.738,5.279-19.711l32.016-18.484c6.882-3.973,15.739-1.6,19.712,5.281l60.915,105.508
			c3.974,6.883,1.602,15.737-5.28,19.711L323.854,448.465z"/>
	</g>
	<title>Layer 1</title>
</g>
</svg>
