
<footer id='footer'>
  <div class='container'>
    <div class='row'>
      <div class='col-sm-4'>
        <div class='footer-icon'>{{icon-info}}</div>
        <div class='about-text'>
          CKDU FM 88.1 started in 1985, growing out of Dalhousie campus radio to become a community radio station that morbi non erat non ipsum pharetra tempus. Donec orci. Proin in ante. Pellentesque sit amet purus. Cras egestas diam sed.
          {{social-links}}
        </div>
      </div>
      <div class='col-sm-4'>
        <div class='footer-icon'>{{icon-phone}}</div>

        <dl class='tk-futura-pt' id='phone-numbers'>
          <dt>Office</dt>
          <dd>902-494-6479</dd>
          <dt>News</dt>
          <dd>902-494-2585</dd>
          <dt>Feedback</dt>
          <dd>902-494-8041</dd>
          <dt>Requests</dt>
          <dd>902-494-2487</dd>
        </dl>
      </div>
      <div class='col-sm-4'>
        <div class='footer-icon'>{{icon-email}}</div>
        <address class='tk-futura-pt' id='footer-address'>
          CKDU 88.1 FM
          <br>
          6136 University Avenue
          <br>
          Halifax Nova Scotia
          <br>
          B3H 4J2
          <br>
          Canada
          <br>
          <a href="mailto:info@ckdu.ca">info@ckdu.ca</a>
        </address>
      </div>
    </div>
  </div>
</footer>
