{{page-header text='Disclaimer'}}
<p>CKDU.ca assumes no responsibility or liability for damages arising from any error or omission or from the use of any information or advice contained in any of the content on CKDU.ca.</p>
<p>CKDU.ca also assumes no responsibility for the content on other sites which users could be directed to via links on CKDU.ca.</p>
<p>If you choose to e-mail a letter to the webmaster for publication, or submit a question or comment to any of the CKDU.ca email addresses, we may run your message and name in our site. We will not publish your e-mail address unless given explicit permission. We hold the right to your piece, and hold the right to edit any material sent to us for use on CKDU.ca.</p>
<p>For more information please email the webmaster.</p>


{{outlet}}
