 <div class='social-links {{position}}'>
  <a href='https://twitter.com/CKDU881FM' class="twitter">
    {{icon-twitter}}
  </a>
  <a href='https://www.facebook.com/CKDU88.1FM' class="facebook">
    {{icon-facebook}}
  </a>
  <a href="http://www.instagram.com/ckdu881fm" class="instragram">
    {{icon-instagram}}
  </a>
</div>